{% extends 'ferreteria/index.html' %}

{% block content %}
<div class="text-center">
    <h1 class="fw-bold">Bienvenidos a Ferretería El Tornillo</h1>
    <p class="lead">Todo en herramientas, materiales y soluciones</p>

    <div class="d-grid gap-3 col-6 mx-auto mt-5">
        <a href="{% url 'ver_productos' %}" class="btn btn-primary btn-lg">📦 Ver productos</a>
        <a href="{% url 'buscar_producto' %}" class="btn btn-primary btn-lg">🔍 Buscar producto</a>
        <a href="{% url 'acerca' %}" class="btn btn-primary btn-lg">ℹ️ Acerca de nosotros</a>
    </div>
</div>
{% endblock %}
