{% extends 'ferreteria/index.html' %}
{% block title %}Productos{% endblock %}
{% block content %}
<h2 class="text-center my-4">Lista de Productos</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Proveedor</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.proveedor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
