{% extends 'ferreteria/index.html' %}
{% block title %}Proveedores{% endblock %}
{% block content %}
<h2 class="text-center my-4">Lista de Proveedores</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.telefono }}</td>
            <td>{{ proveedor.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
